/*************************TAG/ELEMENT SELECTORS***********************/
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Multiple Selectors, usually found at the HTML element level */
h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    line-height: 1.5;
}

p {
    color: #8F8F8F;
}

/*************************ID SELECTORS***********************/
/*  ids are accessed with a hash(#) symbol and can be used in the URL
    They have a higher priority than classes and will override their CSS
    if there is a conflicting rule. Ids should be used sparingly, 
    e.g. sections/carousels. The highest CSS priority comes from 
    inline HTML use of styles. Avoid these at all costs! */
#cta {
    padding: 7.5%;
}

#features {
    position: relative;
}

#footer {
    padding: 5%;
}

#press {
    background-color: #EF8172;
    padding-bottom: 2.5%;
}

#pricing {
    padding: 2.5%;
}

#testimonials {
    background-color: #EF8172;
    position: relative;
}

#stupid-dax {
    /* hide this h1 during normal viewing */
    display: none;
}

#meet-cats {
    /* show this h1 during normal viewing */
    display: inline-block;
}

/*************************CLASS SELECTORS***********************/

/*  it's good practice to only use one class per element.  Bootstrap
    doesn't follow this practice, however!
/* Download Buttons */
.download-button {
    margin: 5% 2.5% 5% 0;
}

/* Features Icons */
.features-box {
    color: #8f8f8f;
    padding: 5%;
}

.features-text {
    color: #000;
    font-size: 1.5rem;
}

.icons {
    color: #EF8172;
    margin-bottom: 1rem;
}

.icons:hover {
    color: #FF4C68;
}

.icons-bottom {
    padding: 0.75%;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Pricing */
.pricing-column {
    padding: 2.5%;
}

.pricing-text-medium {
    font-size: 2rem;
}

.pricing-text-small {
    font-size: 1.5rem;
}

/* Sections */
.coloured-section {
    background-color: #FF4C68;
    color: #FFF;
}

.white-section {
    background-color: #FFF;
}

/* Testimonials */
.carousel-item {
    padding: 5%;
}

.press-logos {
    margin: 0px 20px 50px;
    width: 10%;
}

.testimonial-img {
    border-radius: 100%;
    padding: 2.5%;
    width: 20%;
}

.testimonial-text {
    font-size: 2rem;
}

.testimonial-text-italic {
    /* font-size: 1.25vw;   scales the font to the view-width to stop the carousel changing shape.
                            This doesn't look great on a small screen, however. */
    color: #FFF;
    font-style: italic;
}

/*  Titles
    This is a Heirarchical Selector. Parent(#title) <space> child (.container-fluid). this will only affect container-fluid elements inside the title id */
#title .container-fluid {
    padding: 2.5% 15% 7.5%; /* T L/R B */
    text-align: left;
}
/*  It can also be used as Combination Selector - #title.containerfluid (note, no space) would be child -> parent.
    Any element with an id of title which ALSO has a container-fluid as one of its classes will be affected.
    This can be useful when targetting specific combinations, in lieu of creating more classes. */

.title-image {
    position: absolute; /* allows the image to appear underneath the subsequent element*/
    right: 22.5%;   /* ensures the image is anchored to the right of the screen */
    transform: rotate(25deg);
    max-width: 40%;
    width: auto;    /* resize the image based on the container size */
}

.titles-text {
    font-size: 3.5rem;
}

/*************************CSS MEDIA QUERY BREAKPOINTS***********************/

/* realign the title text and image when the resolution drops under 1000px wide */
@media (max-width: 1250px) {
    #title {
        text-align: center;
    }

    .title-image {
        margin: auto;
        position: static;
        transform: rotate(0deg);
    }

    .title-image img {
        width: 100%;
    }
}

/* show "Stupid Dax!" at a specific resize point */
@media (max-width: 500px) and (min-width: 400px) {
    #stupid-dax {
        display: inline-block;
    }

    #meet-cats {
        display: none;
    }
}